

#page-container #page-content.home {

  margin-top: 0px;
  max-width: none;
  width: 100%;

  section.title {
    cursor: pointer;
    position: relative;
    img {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      transition: height .6s;
    }
    padding: 0;
    margin-bottom: -5px;
    .floating {
      position: absolute;
      top: 65%;
      left: 50%;      
      transform: translateX(-50%);

      button {
        width: 20rem;
        display: block;
        margin-bottom: 1rem;
        font-size: 2rem;
        font-weight: 900;
      }
    }

    &.reduced {
      button { display: none; }
      img { height: 50vh; }
    }
  }

  iframe {
    border: 8px solid white;
    border-radius: 5px;
    margin: 1rem 0;
  }
  .btn-primary-neutral {
    font-size: 1.8rem;
    line-height: 3rem;
    height: 3rem;
  }
  .actions {   
    .btn {
      width: 16rem;
    }

    .btn.new-project {      
      font-weight: bold;
    }

    .secondary-buttons .btn {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0 1rem;
      text-transform: none;
      border-width: 4px;
      margin-bottom: .5rem;
      img {
        display: inline;
        height: 1.5rem;
        width: auto;
        margin-right: 5px;
      }
    }
    .secondary-buttons a:not(:last-child) { margin-right: 1rem; }
  }

  section.projects {
    background-color: transparent;
    @media screen and (min-width: 900px) {
      margin-top: 30px;
      max-width: 900px;
      width: 80%;
      margin: 0 auto;
    }
  }

  h2 { 
    font-size: 4rem; 
    font-weight: bold;
    margin-bottom: 3rem;
    img {
      height: 5rem;
      margin-right: 1rem;
    }
  }

  section.video {
    border-radius: 0 !important;
  }
  iframe.video-demo {
    width: 100%;
    max-width: 500px;
    height: 250px;
  }
  @media screen and (min-width: 900px) {
    .all-projects-container {
      background-image: url("../img/background2-small.png");
      padding: 5rem 0;
      section {
        background-color: white;
      }
    }
  }
  .projects-container > div > div {
    display: flex;
    flex-wrap: wrap;
  }
  .pinned-projects-container {
    position: relative;
    img.img-hand {
      
      width: 300px;
      height: auto;
      position: absolute;
      &.before {
        left: 0;
        top: 50px;
      }
      &.after {
        right: 0;
        top: -150px;
      }
      @media (max-width: 900px) {
        display: none;
      }
      @media (max-width: 1200px) {
        width: 200px;
        &.before { top: 70px; }
        &.after { top: -70px; }
      }
    }
  }
  .pinned-projects {
    margin-bottom: 4rem;
  }
  .search-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

    input.search {
      flex: 1 auto;
      border: none !important;
      padding: 10px;
      border-radius: 5px;
      @media (max-width: 900px) {
        text-align: center;
        margin: 0 1rem;
      }
    }
    .btn.sort {
      margin-left: 10px;
      font-size: .9rem;
      height: 30px;
      line-height: 28px;

      @media (max-width: 720px) {
        margin-top: 10px;
      }

      &.desc:after {
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid white;
        content: "";
        position: relative;
        top: 13px;
        right: -6px;
      }
      &.asc:after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 4px solid white;
        content: "";
        position: relative;
        top: -10px;
        right: -6px;
      }
    }
  }
  .pagination {
    margin-top: 3rem;
    li:first-child, li:last-child {
      display: none; // hide Previous and Next button
    }
  }
  .projects-list-actions {
    margin-top: 4rem;
    margin-bottom: 0;

    button, input {
      font-size: .9rem;
      text-transform: none;
      border-radius: 10px;
      text-align: center;
      width: 100%;
      margin-bottom: 1rem;
      padding: 0 1rem;
    }
    input {
      border: 2px solid #77778e;  
      box-shadow: none !important;    
      height: 38px;
      box-sizing: border-box;
      padding: 0 1rem;      
    }
  }
  .project-container {
    width: 33.33%;
    line-height: 1.5rem;
    padding: 20px;
    padding-bottom: 0;

    @media (max-width: 720px) {
      width: 100%;
    }

    .project-item {
      border-radius: 4px;
      border: 6px solid;

      .project-logo {
        background-color: white;
        width: 100%;
        height: 200px;
        object-fit: contain;
        padding: 10px;
        object-position: center;
        &.default {
          padding: 2rem;
        }
      }

      .project-content {
        padding: 1.3rem 1rem 1rem 1rem;
        margin-top: -10px;
        position: relative;

        .name { 
          font-size: 1rem;
          text-align: left;
          font-weight: bold;
          height: 1.3rem;
          line-height: 1.5rem;
          overflow: hidden;
        }
        .data-size {
          position: absolute;
          top: -18px;
          right: 15px;
          color: white;
          padding: 2px 8px;
          border-radius: 5px;
          font-weight: 700;
          font-size: 11px;
          display: flex;
          align-items: center;

          .icon {
            padding-top: 2px;
            float: right;
            padding-left: 2px;
          }
        }
        .published-at-int, .published-at, .tags {
          display: none;
        }
      }
    }
  }
}


